<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56929990194-a1vh10260p9qroqqktp4i3b7vpni3r8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56929990194-a1vh10260p9qroqqktp4i3b7vpni3r8b</string>
	<key>API_KEY</key>
	<string>AIzaSyCZwiMU8ssDKiIZtU-_7LXpi-CvmkrvNtA</string>
	<key>GCM_SENDER_ID</key>
	<string>56929990194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.someone.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-ccb69</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-ccb69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56929990194:ios:2987653ab7def8a3572e2b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-ccb69.firebaseio.com</string>
</dict>
</plist>